body {
    background-size: cover;
    background-image: url("../Resources/background.webp");
    background-color: RGB(28, 24, 24);
    margin: 0;
    color: white;
    background-attachment: fixed;
    user-select: none;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 15px;
    border-style: solid !important;
    border-color: white;
    border-top: 3px solid white !important;
}

.fronttext {
    text-align: center;
    font-size: 200% !important;
    color: white;
}

.home-btn {
    margin-top: 2%;
    margin-right: 2%;
    font-size: x-large !important;
    text-align: right;
    font-size: large;
    color: white;
    list-style: none;
}

div {
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-transition: border-radius 1s;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.LI-profile-badge:hover {
    border-radius: 0 !important;
}

h2 {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

div:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transition: border-radius 1s;
}